.calculator {
    /* margin: 20px; */
    position: relative;
}

.calculator .calcWrap {
    background: #f5f6f7;
    padding: 10px;
}
.calculator .col{
    width: 33.3%;
    padding: 10px;
}
.calculator .colWrap{
    background: #fff;
    padding: 10px;
}
.calculator table{
    /* margin: 0 0 25px; */
}
.calculator td{
    vertical-align:top;
}
.calculator td.vBottom{

    vertical-align: bottom;

    padding-bottom: 10px;
}
.calculator td p{
    margin-bottom:5px;
}
.calculator .calc{
    padding: 0 0 0 5px;
    vertical-align: bottom;
    padding-bottom: 7px;
    line-height: 26px;
    width: 30px;
}
.calculator .calc img{

    vertical-align: middle;
}
.calculator h3 {
    font-size: 15px;
    color: #fa5e00;
    text-transform: uppercase;
}
.calculator h3 a {
    color: #fa5e00;
}
.calculator h3 a:hover {
    text-decoration: none;
}
.calculator label {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
}
.calculator .btn {
    margin: 0 15px 10px 0;
}
.indicator img {
    margin: 0 auto;
    display: block;
}